__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env


predictive_maintenance.egg-info/

# artifacts
artifacts/FD001/train/
artifacts/FD002/train/
artifacts/FD003/train/
artifacts/FD004/train/


# MLflow & Experiment Tracking
mlruns/
mlflow.db


# Logs
*.log
pipeline_execution.log

# data
data/processed/


# OS & IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp